
<footer role="contentinfo" id="site-footer">
	<div class="wrap">
		<div class="footer-one">
			<h2 id="footer-logo">{{ site.title}}</h2>
		</div>
		<div class="footer-two">
			<nav role="navigation" class="menu bottom-menu">
				<a href="{{ site.url }}/contact">Get in Touch</a> <a href="{{ site.url }}/services">Services</a> <a href="{{ site.url }}/companies">Companies</a> <a href="{{ site.url }}/careers">Jobs</a>  <a href="{{ site.url }}/terms-and-conditions">Terms &amp; Conditions</a>
			</nav>
			
		</div>
		<div class="footer-three">
			<p>535 Exchange Court Aurora, IL 60504</p>
			<p class="small">&#169; {{ site.time | date: '%Y' }} MechanAir Holdings, LLC</p>
		</div>
	</div>
</footer>
