<nav role="navigation" class="menu top-menu">
	<ul id="navigation">
	{% for nav in site.data.navigation %}
		<li class="top {% if nav.sublinks != null %}down{% endif %}"><a href="{{ site.url }}/{{ nav.url }}">{{ nav.title }}</a>
			{% if nav.sublinks != null %}
				<ul>
				{% for subnav in nav.sublinks %}
					<li><a href="{{ site.url }}/{{ subnav.url}}">{{ subnav.title }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
</nav>
<span class="hamburger material-icons" id="ham"></span>
<nav class="nav-drill">
  <ul class="nav-items nav-level-1">
  	{% for nav in site.data.navigation %}
		<li class="nav-item {% if nav.sublinks != null %}nav-expand{% endif %}">
			<a class="nav-link {% if nav.sublinks != null %}nav-expand-link{% endif %}" href="{% if nav.sublinks != null %}#{%else%}{{ site.url }}/{{ nav.url }}{% endif %}">{{ nav.title }}</a>
			{% if nav.sublinks != null %}
				<ul class="nav-items nav-expand-content">
				{% for subnav in nav.sublinks %}
					<li class="nav-item"><a class="nav-link" href="{{ site.url }}/{{ subnav.url }}">{{ subnav.title }}</a>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
			</li>
		{% endfor %}
</nav>