.home {
	h3 {
		margin-top: $gutter/2;
	}
}
#intro {
	background-color: $base-color-dark;
	color: $text-color-light;
	padding: 0;
	h2 {
		color: $white;
	}
	.slide-text {
		min-height: 40vh;
		@include display(flex);
		@include align-content(center);
		@include flex-wrap(wrap);
	@include media($medium) {
		min-height: 60vh;
		@include span-columns(5);
		@include display(flex);
		}
		z-index: 9;
		position: relative;
	}
	.slide-image {
		@include media($medium) {
		width: 100%;
		margin-left: 20%;
		min-height: 60vh;
		z-index: 5;
		}
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.home {
	#slide-one {
		background-color: $comp-color;	
		&:before {
			content: " ";
			background-image: url(../images/intro-bottom.svg);
			min-width: 100%;
			height: 56px;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			margin: 0px auto;
			margin-top: -$gutter;
			@include media($medium) {
				margin-top: -$gutter*3;
			}		
		}
		
	}

	#slide-two {
		&:before {
			content: " ";
			background-image: url(../images/slide-one-bottom.svg);
			min-width: 100%;
			height: 56px;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			margin: 0px auto;
			margin-top: -$gutter;
			@include media($medium) {
				margin-top: -$gutter*3;
			}
		}
	}

	#slide-three {
		background-color: $comp-color-dark;
		color: $text-color-light;
		&:before {
			content: " ";
			background-image: url(../images/slide-two-bottom.svg);
			min-width: 100%;
			height: 56px;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			margin: 0px auto;
			margin-top: -$gutter;
			@include media($medium) {
				margin-top: -$gutter*3;
			}
		}
		h3 {
			color: $white;
		}
		.slide-blocks-square {
			margin-top: $gutter*2;
			@include media($medium) {
				@include display(flex);
			}
		}
		.inner-slide-block {
			padding-top: 96px;
			background-repeat: no-repeat;
			background-position: $gutter $gutter;
			background-size: auto 48px;
			background-color: $base-color-dark;
			h4 {
				color: $white;
			}
			@include media($medium) {
				background-size: 96px auto;
				padding-top: 200px;
				background-position: center $gutter*2;
				text-align: center;
				padding-bottom: $gutter*2;
			}
		}
	}
}
.features {
	padding: 0;
	margin: 0;
	@include media($medium) {
		@include display(flex);
		@include flex-wrap(wrap);
	}
	li {
		@extend .h5;
		@include display(flex);
		@include align-items(center);
		@include media($medium) {
			display: block;
			@include span-columns(2);
			text-align: center;
		}
	}
	.icon {
		margin-right: $gutter;
		display: block;
		background-color: $white;
		background-size: auto 32px;
		height: 64px;
		width: 64px;
		border-radius: 32px;
		background-position: center;
		background-repeat: no-repeat;
		@include media($medium) {
			margin: $gutter auto;
			width: 96px;
			height: 96px;
			background-size: auto 58px;
			border-radius: 48px;
		}
	}
}