---
layout: default
---

<div id="main" class="post-page" role="main">			
	<div class="page-title" style="background-image:url({{ site.url }}/images/{{ page.heroimage}})">
		<div class="background-overlay">
			<div class="wrap">
				<div>
				<h5><a href="{{site.url}}/insights/">Insights</a> &gt; <a href="{{site.url}}/tag/article/">Articles</a> &gt;</h5>
				<h2>{{ page.title }}</h2>
				<p class="intro">{{ page.date | date: '%B %d, %Y' }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap content">
		<div class="post-meta">
		
		</div>
		<div class="post-body">
		  {{ content }}
		  {% include share-this.html %}
		</div>

	</div><!-- /.wrap -->
<div>